@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
:root {
  --text-color: black;
  --body-bg: white;
  --secondary: #f3f3f3;
  --border: #cdcdcd;
}

[data-theme=light] {
  --text-color: black;
  --body-bg: white;
  --secondary: #f3f3f3;
  --border: #cdcdcd;
}

[data-theme=dark] {
  --text-color: white;
  --body-bg: black;
  --secondary: #2a2a2a;
  --border: #515151;
}

body {
  font-family: roboto;
  background-color: var(--body-bg);
  color: var(--text-color);
}

.main-container {
  width: 100%;
}
.main-container .page-header {
  margin: 0.5rem 2rem;
  display: flex;
  justify-content: space-between;
  position: relative;
}
.main-container .page-header .left {
  display: flex;
  gap: 1rem;
  align-items: center;
  cursor: pointer;
}
.main-container .page-header .left .logo {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-weight: 700;
  font-size: 1.25rem;
  white-space: nowrap;
}
.main-container .page-header .left .logo img {
  height: 3rem;
}
.main-container .page-header .center {
  display: flex;
  gap: 1rem;
  width: 50%;
}
.main-container .page-header .center .search-box {
  border-radius: 10000rem;
  border: solid var(--border);
  height: 3rem;
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  overflow: hidden;
}
.main-container .page-header .center .search-box .search-text {
  border: none;
  margin-left: 2rem;
  padding: 2rem 0;
  width: calc(100% - 2rem);
  background: rgba(0, 0, 0, 0);
  color: var(--text-color);
}
.main-container .page-header .center .search-box .search-text:focus {
  outline: none;
}
.main-container .page-header .center .search-box .search-button {
  padding: 0 2rem;
  background-color: var(--secondary);
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-left: solid var(--border);
}
.main-container .page-header .center .mic-search {
  height: 3rem;
  width: 3rem;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--secondary);
}
.main-container .page-header .right {
  display: flex;
  align-items: center;
  gap: 2rem;
}
.main-container .page-header .right .theme-switch {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 3rem;
  width: 3rem;
}
.main-container .page-header .right .theme-switch input {
  display: none;
}
.main-container .page-header .right .theme-switch .theme-button {
  position: absolute;
  height: 3rem;
  width: 3rem;
  border-radius: 100%;
  background-color: var(--secondary);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.main-container .page-header .right .theme-switch .theme-button .dark {
  display: none;
}
.main-container .page-header .right .theme-switch input:checked ~ .theme-button .light {
  display: none;
}
.main-container .page-header .right .theme-switch input:checked ~ .theme-button .dark {
  display: block;
}
.main-container .page-header .right .avatar {
  height: 3rem;
  width: 3rem;
  border-radius: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
}
.main-container .page-container {
  display: flex;
  gap: 1rem;
}
.main-container .page-container .sidebar {
  margin: 0rem 2rem;
  height: calc(100vh - 6rem);
  width: 11.8rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  position: relative;
  overflow-y: scroll;
  padding: 1rem;
}
.main-container .page-container .sidebar .main-ops {
  width: 100%;
  border-radius: 0.5rem;
  overflow: hidden;
}
.main-container .page-container .sidebar .main-ops input {
  display: none;
}
.main-container .page-container .sidebar .main-ops .tab {
  padding: 0.75rem;
  display: flex;
  gap: 1rem;
  align-items: center;
}
.main-container .page-container .sidebar .main-ops input:checked ~ .tab {
  background-color: var(--border);
}
.main-container .page-container .sidebar footer {
  align-self: flex-end;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.25rem;
}
.main-container .page-container .sidebar footer p {
  text-align: center;
  margin: 0;
}/*# sourceMappingURL=index.css.map */