@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@import 'header.scss';
@import 'sidebar.scss';

:root {
    --text-color: black;
    --body-bg: white;
    --secondary: #f3f3f3;
    --border: #cdcdcd;
}

[theme="light"] {
    --text-color: rgb(28, 28, 28);
    --body-bg: white;
    --secondary: #f3f3f3;
    --border: #cdcdcd;
}

[theme="dark"] {
    --text-color: white;
    --body-bg: black;
    --secondary: #2a2a2a;
    --border: #515151;
}

body {
    font-family: roboto;
    background-color: var(--body-bg);
    color: var(--text-color);
}

a {
    color: var(--text-color);
    text-decoration: none;
}

hr {
    width: 100%;
    border: 0.0625rem solid var(--border);
}

.main-container {
    width: 100%;
    .page-container {
        display: flex;
        gap: 1rem;
    }
}